
body {
    margin: 0;
    padding: 0;
}

h2{
    display: flex;
    font-weight: bolder;
    margin-right: auto;
    margin-top: 0.5%;
    margin-left: 20%;
    color: white;
}

.topinfo {
    max-width: 30%;
    width: 100%;
    gap: 5px;
    margin: auto;
}

.top{
    display: flex;
    background-color:#1F2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topheaders{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5%;
}

.toplinks{
    display: flex;
    margin-right: 15%;
    color: white;
    font-size: medium;
}

.topinfo{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.topstuff{
    display: flex;
    padding-bottom: 8%;
    
}





h3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}



.HeroMain {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-items: flex-start;

}

.HeroSec{
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
}

.signup{
    font-size: 20px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    display: flex;
    flex: 1 1 auto;
    align-self: left;
    background-color: #3882F6;
    color: #E5E7EB;
    flex-basis: auto;
    width: max-content;
}

.newspaper{
    height: 250px;
    width: auto;
    margin-right: 20%;
    margin: auto;
}


.secondtop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    padding-top: 1%;
}

.infoheader{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}


.spherebuilding,
.ivoted,
.saulgoodman,
.prisoner{
    height: auto;
    width: 150px;
    display: flex;
    border: solid blue;
    flex-basis: content;
}


.newsiconlist{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 100px;
    padding-bottom: 5%;
}

.spheretext,
.ivotedtext,
.saultext,
.prisonertext {
    max-width: 150px;
    margin: 0 auto;
}

.newsiconsI,
.newsiconsII,
.newsiconsIII,
.newsiconsIV{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.bottommid{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #E5E7EB;
    flex-basis: 100%;
}

.textstuff{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: auto;
    max-width: 800px;
    box-sizing: border-box;

}

.snowdenquote{
    display: flex;
    font-size: 24px;
    font-weight: light;
    font-style: italic;
}

.snowdenattribution{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.bottom{
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.bottombackground{
    display: flex;
    background-color: #3882F6;
    flex-direction: row;
    border-radius: 25px;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.signuptwo{
    color: white;
    background-color: #3882F6;
    border-radius: 25px;
    padding: 12px;
    border-color: white;
    width: 100px;
    height: 50px;
    justify-content: right;
    align-items: right;
}

.bottomtext{
    padding-right: 20%;
}

.cta{
    color: white;
    font-weight: bold;
    font-size:larger;
}

.ctasubtext{
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
    font-weight: bold;
}